#container{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    animation-name:firstAnime ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes firstAnime{
    25%{
        top:0;
        left:75;
    }
    50%{
        top:75;
        left:75%;
    }
    50%{
        top:75;
        left:75%;
    }
    75%{
        top:75;
        left:75%;
    }
    100%{
        top:75;
        left:75%;
    }
}

